@keyframes slide {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-slide {
    animation-name: slide;
    animation-duration: 10s; /* Adjust the duration as per your requirement */
    animation-timing-function: linear; /* Adjust the timing function as per your preference */
    animation-iteration-count: infinite; /* Adjust the iteration count as per your requirement */
  }